<!-- {%- if site.amp_disqus -%}
  <div class="disqus">
    <p style="text-align:center; ">
      <div id="fb-root"></div>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"  data-width="100%"></div>
  </p>
  </amp-iframe>
</div>
<style> /*Facebook comment*/ .fb_iframe_widget, .fb_iframe_widget span,.fb_iframe_widget span iframe[style] { min-width: 100% !important; width: 100% !important; } </style>
{%- endif -%} -->


<div class="article-post">
  <script src="https://giscus.app/client.js" data-repo="nhamngoctuananh/tech"
      data-repo-id="R_kgDOGi2Xag" data-category="Q&A" data-category-id="DIC_kwDOGi2Xas4CRbIn"
      data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="1"
      data-input-position="top" data-theme="github-light" data-lang="vi" data-loading="lazy"
      crossorigin="anonymous" async>
      </script>
</div>
