{%- if site.amp_disqus -%}
<div class="comments mt-5">
  <button class="btn btn-outline-dark py-2 px-5 d-block w-100 show-comments"><i class="fa fa-comments text-muted"></i>
      &nbsp; Load Comments</button>
  <div id="comments">
      <h4 class="mb-4">Comments</h4>
      <div class="article-post">
          {% if page.isGithubComments != false %}
          <script src="https://giscus.app/client.js" data-repo="nhamngoctuananh/nhamngoctuananh.github.io"
              data-repo-id="R_kgDOGi2Xag" data-category="Q&A" data-category-id="DIC_kwDOGi2Xas4CRbIn"
              data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="1"
              data-input-position="top" data-theme="github-light" data-lang="vi" data-loading="lazy"
              crossorigin="anonymous" async>
              </script>
          {% elsif  page.isGithubComments == false %}
          <p style="text-align:center; ">
              <div id="fb-root"></div>
              <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"  data-width="100%"></div>
          </p>
          {% endif %}

      </div>

  </div>
</div>
<style> /*Facebook comment*/ .fb_iframe_widget, .fb_iframe_widget span,.fb_iframe_widget span iframe[style] { min-width: 100% !important; width: 100% !important; } </style>

{%- endif -%}
