{%- if site.amp_disqus -%}
  <div class="disqus">
    <p style="text-align:center; ">
      <div id="fb-root"></div>
      <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"  data-width="100%"></div>
  </p>
    <div overflow style="background-color: #0003;display: block;position: relative;">
      <button class="btn btn-dark" aria-label="Load more comments" tabindex="0"
        style="margin: .5em 50%; transform: translateX(-50%);">
        Load more
      </button>
    </div>
    <div placeholder>Loading Disqus Comments...</div>
    <div fallback>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </div>
  </amp-iframe>
</div>
<style> /*Facebook comment*/ .fb_iframe_widget, .fb_iframe_widget span,.fb_iframe_widget span iframe[style] { min-width: 100% !important; width: 100% !important; } </style>
{%- endif -%}
